.venv

db.sqlite3
__pycache__/
*.pyc
media/
staticfiles/
static/
.DS_Store
.env
.vscode/
.idea/
*.log
coverage
html
coverage.xml
*.sqlite3
*.pot
*.mo
local_settings.py
instance/
celerybeat-schedule
celerybeat.pid
*.egg-info/
*.egg
dist/
build/
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
.tox/
.coverage
.coverage.*
nosetests.xml
pytest_cache/
tox/
migrations/
*.log
*.bak
*.swp
*.swo
*.tmp
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.vscode/
.idea/
*.iml
*.class
*.jar
*.war
*.ear
*.log
